Repository HYF-Class21/agile-development-group3-hyf-redesign, pull requests merged in 2023-04, with the labels that each got.

#4 Added backlog
  planning/backlog.md
Labels: md

#8 Added design
  planning/design.md
  planning/img/hyfdesign.png
Labels: md

#10 Create constraints
  planning/constraints.md
Labels: md

#27 Update home page
  .vscode/hyfclass.jpeg
  image/agoria.png
  image/alliance.png
  image/antwerp.jpeg
  image/axxes.png
  image/bruxxelles.png
  image/commitment.svg
  image/community.svg
  image/dcd.png
  image/diversity.svg
  image/dsgc.png
  image/duo.png
  image/emakina.png
  image/epitech.png
  image/facebook.svg
  image/github.svg
  image/hyfclass.jpeg
  image/hyflogo.svg
  image/linkdin.svg
  image/microsoft.svg
  image/open.svg
  image/twitter.svg
  image/uxa.png
  image/vbo.png
  index.html
  planning/design.md
  styles/index.css
  styles/style.css
Labels: css, HTML

#29 Added successful stories
  image/addi.jpeg
  image/neha.jpeg
  image/xin.jpeg
  index.html
  styles/style.css
Labels: css, HTML

#35 Fixed mistakes added media query
  index.html
  styles/style.css
Labels: css

#37 Added retro and link to other pages from main
  index.html
  planning/retrospective.md
Labels: md, HTML

#38 Add Media Query
  pages/volunteer.html
  styles/volunteer.css
Labels: css, HTML
